# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Virtual environment
venv/
.venv/

# Environment variables file
.env

# Installed dependencies
*.egg-info/
pip-log.txt

# Build and distribution directories
build/
dist/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log

# OS-specific files
.DS_Store
Thumbs.db
